h1 {
    font-family:yaldevi;
}
.gosto {
    font-family: sans-serif;
    color: #ff4800;
    font-weight: 800;
}
body {
    background-color: #ff9100   ;
}
.nacio {
    color: aliceblue;
}
#link1 {
    margin-bottom: 20px;
}